[Desktop Entry]
Version=1.0
Name=Chrome
GenericName=Web Browser
Comment=Browse the web
Exec=/usr/bin/google-chrome-stable --no-first-run --no-default-browser-check --enable-features=WebContentsForceDark %u
Terminal=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
